body{
	background-color:#033;
	color:#FFF;
	direction:ltr;
	overflow-x:hidden;
	margin-top: 50px;
}

#row div.form{
	position: absolute;
	z-index: 100;
	width: 400px;
	text-align: center;
	display: none;
	border: 0px solid #fff;
	padding-top: 10px;
	opacity:0.95;
	filter:alpha(opacity=40);
}
#row div.form p{
	padding-left: 10%;
	width: 90%;
}
input.form-control{
	margin-bottom: 1px;
}
#iditem{
	display: none;
}

#row #contact{
	display: inline;
	position: static;
	width: 100%;
	text-align: center; 
	padding-top:10px;
}
#status_message{
	text-align: center;
}
#outer_message{
	text-align: center;
}
#message{
	padding-top: 7px;
	border-top:1px solid #434343;
}

.mycontainer {
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-shadow: 1px 2px 3px #B5B5B5;
}

section h4{
	padding-bottom: 15px;
}

.col-sm-4{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	margin:auto;
	padding-top:10px;
}

#products div  p{
	padding-top:10px;
}

.carousel-caption{
	font-size:25px;
	color:#FFF;
}

.navbar .btn{
	margin-left:5px;
	margin-top:15px;				
}

#information{
	background-color:#3b3b3b;
	padding-top:30px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	border-top:1px solid gray;
	border-bottom:3px solid gray;
}

.col-md-3{
	text-align: center;
	padding-top: 5%;
}

footer {
	margin-left:40px;
	padding-top:10px;
}
